.footer {
  background-color: #000000;
  height: 20vh;
  align-items: center;
}
div.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 70px;
}
.social {
  color: #fff;
  height: 20px;
  width: 20px;
  padding: 15px 40px;
  border-radius: 4px;
  line-height: 10px;
  line-break: auto;
  text-decoration: none;
}
div.fluid {
  color: #fff;
}
