.card-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
.custom {
  margin-top: -11px !important;
  background-image: url(https://images.unsplash.com/photo-1473976345543-9ffc928e648d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2759&q=80);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
