.matchContainer {
  background-color: white;
  border-radius: 0 10px 10px 10px;

  padding-bottom: 24px;
}
.header {
  border-radius: 10px 10px 0 0;
  background-color: black;
  color: white;
  padding: 10px;

}
.match{
  padding: 0;
  margin-top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
}

.leagueContainer{
  margin: 15px;
}

.img{
  height: 100px;
  width: 100px;
  margin: 10px;
}

.live{
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
 
}