.body1{
    background-image: url('./assets/screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.head{
    display: flex;
    justify-content: center;
    flex-shrink: 4em;
    margin-top: 60px !important;
    margin-left: 1px;
    flex-flow: wrap;
}
#logo{
    display: flex;
    /* border: 5px solid black; */
    flex-flow: wrap;
    flex-grow: 3em;
}
#first{
    height: 95px;
    margin: 2px;
    padding: 3px;
    margin-top: 2px;
}
#header{
    display: inline-flex;
    /* border: 5px solid black; */
    color: whitesmoke;
    height: 60px;
    width: 399px;
}
#img{
    width: 71px;
    height: 40px;
}
input{
    border-radius: 10px;
}
#addict{
    display: flex;
    color: rgba(37, 23, 238, 0.972);
    font-size: 50px;
    justify-content: center;
    margin-top: 10px;
    padding-top: 8px;
}
#img{
    width: 129px;
    height: 71px;
}
.one{
    margin: auto;
    margin-top: 69px;
    border: 2px solid whitesmoke;
    width: 460px;
    height: 517px;
    box-sizing: border-box;
}
#rule{
    text-emphasis: none;
}
#head{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    font-weight: bold;
    padding-left: 90px;
    padding-top: 10px;
    color: white;
}
#desc{
    font-size: 18px;
    line-height: 0em;
    padding-left: 150px;
    padding-top: 1px;
    padding-bottom: 9px;
    color: white;
}
.firsto{
    border: 2px solid grey;
    width: 410px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    box-sizing: border-box;
}
#second{
    border: 2px solid black;
    width: 186px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    box-sizing: border-box;
}
.third1{
    border: 2px solid grey !important;
    width: 410px!important;
    padding: 8px!important;
    font-size: 18px!important;
    font-family: 'Times New Roman', Times, serif!important;
    margin-left: 20px!important;
}
.fourth1{
    border: 2px solid grey !important;
    width: 410px!important;
    padding: 8px!important;
    font-size: 18px!important;
    font-family: 'Times New Roman', Times, serif!important;
    margin-left: 20px!important;
}
#last{
    padding: 14px;
    font-size: 13px;
    color: white;
}
.co{
    color: red;
}
a{
    text-decoration: none;
}
#soup{
    margin-left: 130px;
    width: 180px;
    height: 40px;
    background-color: rgb(27, 214, 59);
    box-sizing: border-box;
    border-radius: 10px;
    border-color: rgb(27, 214, 59);
}
#lies{
    color: red;
    padding: 2px;
    line-height: 3em;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

